main {
    max-width: 1200px;
    margin: 30px auto;
    padding: 0 15px;
}

.account-container {
    display: flex;
    flex-direction: row;
    gap: 40px;
    min-height: 400px;
    margin-left: 180px;
}
.account-nav{
    border: 1px dashed rgb(211, 196, 187);
    padding: 20px;
}

.account-nav h2 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.account-nav p {
    margin-bottom: 20px;
    font-size: 12px;
    color: #333;
}

.account-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.account-nav ul li a {
    display: block;
    padding: 8px 0;
    text-decoration: none;
    color: #555;
    font-size: 14px;
}

.account-nav ul li a:hover,
.account-nav ul li a.active {
    color: #000;
    font-weight: bold;
}

.account-content{
    border-left: 1px dashed rgb(211, 196, 187);
    padding: 10px;
}
.account-content h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.account-content p {
    margin-bottom: 16px;
    color: #333;
}

.account-divider {
    border: 0;
    border-top: 1px solid #eee;
    margin: 30px 0;
}

.order-history-table {
    width: 100%;
}

.order-history-table th,
.order-history-table td {
    padding: 12px 8px;
    border-bottom: 1px solid #eee;
}

.order-history-table th {
    font-size: 12px;
    color: #777;
    text-transform: uppercase;
    font-weight: normal;
}

.order-history-table td {
    font-size: 12px;
    color: #333;
}

.order-history-table tbody tr:last-child td {
    border-bottom: none;
}


.btn-primary {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 0.5px;
}
.btn-primary:hover {
    background-color: #333;
}

.btn-secondary {
    background-color: #fff;
    color: #000;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.5px;
}
.btn-secondary:hover {
    background: #c1bfbf;
    color: #fff;
}

.account-content button.btn-primary {
    margin-bottom: 25px;
}

.address-card {
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.address-card p {
    margin: 0 0 10px 0;
    font-size: 14px;
}

.default-badge {
    background-color: #e6f7ec;
    color: #006422;
    padding: 3px 6px;
    font-size: 10px;
    border-radius: 4px;
    margin-left: 10px;
    font-weight: bold;
}

.edit-address-link {
    color: #555;
    text-decoration: underline;
    font-size: 12px;
}
.edit-address-link:hover {
    color: #000;
}

.modal-overlay {
    position: fixed;
    top: 40px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    overflow-y: auto;
}

.modal-content {
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    width: 100%;
    max-width: 600px;
    position: relative;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.modal-content > .modal-close {
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    font-size: 2rem;
    color: #777;
}

.modal-content h4 {
    font-weight: 600;
    margin-bottom: 20px;
}

.form-row {
    display: flex;
    gap: 20px;
}

.form-group {
    margin-bottom: 10px;
    width: 100%;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 12px;
    color: #333;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
    box-sizing: border-box;
}

.form-group-checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.form-group-checkbox input {
    margin-right: 10px;
    width: 12px;
    height: 12px;
}
.form-group-checkbox label {
    margin-top: 5px;
    font-size: 12px;
}

.modal-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
}

/*@media (max-width: 768px) {*/
/*    .account-container {*/
/*        grid-template-columns: 1fr; */
/*        gap: 20px;*/
/*    }*/
/*    .account-nav {*/
/*        border-bottom: 1px solid #eee;*/
/*        padding-bottom: 10px;*/
/*    }*/
/*    .account-nav ul {*/
/*        display: flex;*/
/*        gap: 20px;*/
/*        flex-wrap: wrap;*/
/*    }*/
/*    .form-row {*/
/*        flex-direction: column;*/
/*        gap: 0;*/
/*    }*/
/*    .form-group.half-width {*/
/*        width: 100%;*/
/*    }*/
/*    .modal-actions {*/
/*        flex-direction: column;*/
/*    }*/
/*    .modal-actions .btn-primary,*/
/*    .modal-actions .btn-secondary {*/
/*        width: 100%;*/
/*    }*/
/*}*/