
:root {
    --color-primary: #640100;
    --color-secondary: #320000;
    --color-background: rgb(202, 183, 161);
    --color-sidebar-bg: #444;
    --color-sidebar-text: #fff;
    --color-light-bg: #f7f7f7;
    --color-white: #fff;
    --color-border: #ddd;

}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--color-light-bg);
    color: var(--color-secondary);
}

.admin-container {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: var(--color-primary);
    color: var(--color-background);
    padding: 20px 0;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    flex-shrink: 0;
}

.sidebar-header {
    text-align: center;
    margin-bottom: 30px;
    padding: 0 10px;
}

.sidebar-header img {
    width: 80px;
    height: auto;
    margin-bottom: 10px;
}

.sidebar-header h2 {
    font-size: 1.2rem;
    color: var(--color-white);
    margin: 0;
}

.sidebar-nav ul {
    list-style: none;
    padding: 0;
}

.nav-item {
    padding: 15px 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-size: 1rem;
    display: flex;
    align-items: center;
}
.nav-item i{
    margin-right: 10px;
}

.nav-item:hover, .nav-item.active {
    background-color: var(--color-secondary);
    color: var(--color-white);
}

.nav-item a {
    color: inherit;
    text-decoration: none;
    display: block;
    width: 100%;
}

.main-content {
    flex-grow: 1;
    padding: 20px 40px;
}

.admin-header {
    background-color: var(--color-white);
    padding: 20px 30px;
    margin: -20px -40px 20px -40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.admin-header h1 {
    font-size: 1.5rem;
    color: var(--color-primary);
    margin: 0;
}

.btn-primary {
    background-color: var(--color-primary);
    color: var(--color-white);
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;

}
.btn-primary:hover {
    background-color: var(--color-secondary);
}

.btn-logout {
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    padding: 8px 12px;
    border-radius: 5px;
    transition: all 0.3s;
    text-decoration: none;
}

.btn-logout:hover {
    background-color: var(--color-primary);
    color: var(--color-white);
}

